@model App_Ventas.Areas.Inventario.Models.ProductoModelView
<script src="@Url.Content("~/Scripts/Js/Inventario/Producto.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Js/Inventario/Producto_Recursos.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Js/Recursiva/Configuracion.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Js/Inventario/Translados.js")" type="text/javascript"></script>

<script type="text/javascript">
    var _SimboloMoneda = $('#inputL_SimboloMoneda').val();
    $(document).ready(function () {
        Producto_ConfigurarGrilla();
        //Producto_CargarGrilla();
        $(".badge").tooltip({ placement: "bottom", delay: { show: 100, hide: 400 } });
        $('#ID_SUCURSAL').select2();
    });

    $("#Producto_btnBuscar").click(function (e) {
        Producto_ConfigurarGrilla();
    });

    $("#Producto_btnLimpiar").click(function (e) {
        Producto_Limpiar();
    });


    $("#Producto_btnNuevo").click(function (e) {
        Producto_MostrarNuevo();
    });

    $('#ID_SUCURSAL').change(function () {
        //$("#" + Producto_Grilla).dataTable().fnDestroy();
        Producto_ConfigurarGrilla();
    });


    $("#Producto_Ingreso").click(function (e) {
        Producto_MostrarIngresoProducto();
    });
    $("#Producto_Salidas").click(function (e) {
        Producto_MostrarSalidasProducto();
    });
    $("#Producto_Btn_Translados").click(function (e) {
        Producto_MostrarTranslado();
    });


</script>

<style>
    .img-produc {
        max-width: 60px;
        height: 40px;
        width: 60px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        margin-right: 20px;
    }
</style>

<div class="modal fade" id="myModalNuevo" tabindex="" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

@*<div class="row">
    <div class="col-xl-12 col-xxl-12 col-lg-12 col-md-12">
        <div class="card">
            <div class="card-header border-bottom-head card-collapse" onclick="CollapsearchCard(this);">
                <h4 class="card-title"><i class="bi bi-pencil-square"></i>&nbsp;Criterios de Busqueda</h4>
            </div>
            <div class="card-body">
                <div class="basic-form">
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label>Código:</label>
                            <input id="Producto_codigo" type="text" class="form-control" placeholder="Código Producto">
                        </div>

                        <div class="form-group col-md-3">
                            <label>Producto:</label>
                            <input id="Producto_Desc" type="text" class="form-control" placeholder="Ejm: Bebidas">
                        </div>

                        <div class="form-group col-md-3">
                            <label>Categoria:</label>
                            @Html.DropDownListFor(model => model.ID_CATEGORIA_SEARCH, Model.Lista_Categoria, new { @class = "form-control", @maxlength = "150", @style = "width:100%" })
                        </div>

                        <div class="form-group col-md-3">
                            <label>Tipo Producto:</label>
                            <select class="form-control" id="Producto_flg_servicio">
                                <option value="">-- Seleccione --</option>
                                <option value="0">Producto</option>
                                <option value="1">Servicios</option>
                            </select>
                        </div>


                        <div class="form-group col-md-3">
                            <label>Estado:</label>
                            <select class="form-control" id="Producto_Estado">
                                <option value="">-- Seleccione --</option>
                                <option value="1">Activo</option>
                                <option value="1">Inactivo</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <button type="button" id="Producto_btnBuscar" class="btn btn-hover-shine  btn-square btn-primary "><i class="fa fa-search"></i>&nbsp Buscar</button>
                            <button type="button" id="Producto_btnLimpiar" class="btn  btn-square btn-light"><i class="bi bi-arrow-clockwise"></i>&nbsp Limpiar</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>*@

<div class="row">
    <div class="col-xl-12 col-xxl-12 col-lg-12 col-md-12">
          <h4 class="card-title">Listado Productos</h4>
    </div>
</div>

<div class="row ">
    <div class="col-xl-12 col-xxl-12 col-lg-12 col-md-12">
        <div class="card">
      @*      <div class="card-header">
                <h4 class="card-title"><i class="bi bi-list-ul"></i>&nbsp;Listado Productos</h4>
            </div>*@
            <div class="card-body">
                <div class="form-row mb-3">
                    <button type="button" id="Producto_btnNuevo" class="btn btn-rounded btn-primary btn-hover-shine" style="margin-bottom: 5px;">
                        <span class="btn-icon-left  text-primary "><i class="fa fa-plus color-primary"></i></span>Nuevo Producto</button>

                    <button type="button" class="btn btn-rounded btn-success btn-hover-shine" id="Producto_Ingreso" style="margin-left: 20px; margin-bottom: 5px;">
                        <span class="btn-icon-left text-success"><i class="bi bi-arrow-bar-up color-success"></i>
                        </span>Ingresos</button>

                    <button type="button" class="btn btn-rounded btn-danger btn-hover-shine" id="Producto_Salidas" style="margin-left: 20px; margin-bottom: 5px;">
                        <span class="btn-icon-left text-danger"><i class="bi bi-arrow-bar-down color-danger"></i>
                        </span>Salidas</button>

                    <button type="button" class="btn btn-rounded btn-info btn-hover-shine" id="Producto_Btn_Translados" style="margin-left: 20px; margin-bottom: 5px;">
                        <span class="btn-icon-left text-info"><i class="bi bi-truck color-info"></i>
                        </span>Translados</button>

                    <button type="button" class="btn btn-rounded btn-secondary btn-hover-shine" style="margin-left: 20px; margin-bottom: 5px;">
                        <span class="btn-icon-left text-secondary"><i class="bi bi-file-earmark-excel color-secondary"></i>
                        </span>Importar</button>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label>Almacen:<span class="text-danger">(*)</span></label>
                        @Html.DropDownListFor(model => model.ID_SUCURSAL, Model.Lista_Sucursal, new { @class = "form-control", @maxlength = "150", @style = "width:100%" })
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table" id="Producto_Grilla" style="width: 100%">
                    </table>
                    @*<div id="Producto_Barra"></div>*@
                </div>
            </div>
        </div>
    </div>
</div>

