@model App_Ventas.Areas.Inventario.Models.ProductoModelView

<script>
    $(document).ready(function () {
        $('#FLG_VENCE').bootstrapToggle({
            on: 'Si',
            off: 'No',
            size: "mini",
            width: "50",
            onstyle: "danger"
        });

        $('#FLG_SERIVICIO').bootstrapToggle({
            on: 'Servicio',
            off: 'Producto',
            onstyle: "info",
            size: "normal",
            width: "90",
        });


        Usuarios_Perfil_ConfigurarGrilla();
    });

    $('#Usuarios_btn_Guardar').click(function () {
        Preguntar();
    });

    $('#FEC_ACTIVACION, #FEC_DESACTIVACION').datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: "dd/mm/yy",
        firstDay: 1,
        changeFirstDay: false,
        showAnim: 'slideDown'
    });

    $('#FLG_SERIVICIO').change(function () {
        if ($(this).is(':checked')) {
            $('#frmMantenimiento_Productos').hide();
            $('#frmMantenimiento_Servicios').show('slow');
            $('#frmMantenimiento_ImagenProducto').hide();
            
        } else {
            $('#frmMantenimiento_Servicios').hide();
            $('#frmMantenimiento_Productos').show('slow');
            $('#frmMantenimiento_ImagenProducto').show('slow');
        }


    });


</script>




<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">

            @if (Model.ID_PRODUCTO == 0)
            {
                    
                <h5 class="modal-title"><i class="bi bi-pencil-square"></i>&nbsp; Registrar Nuevo&nbsp; </h5> @Html.CheckBoxFor(model => model.FLG_SERIVICIO, new { @class = "form-control", @maxlength = "200", @checked = "false" })
            }
            else
            {
                <h5 class="modal-title"><i class="bi bi-pencil-square"></i>&nbsp; Actualiza&nbsp;</h5> @Html.CheckBoxFor(model => model.FLG_SERIVICIO, new { @class = "form-control", @maxlength = "200" })
            }

            <button type="button" class="close" data-dismiss="modal">
                <span>&times;</span>
            </button>
        </div>
        <div class="modal-body">
            @using (Html.BeginForm("Producto", "Producto", new { @area = "Inventario" }, FormMethod.Post, new { @id = "frmMantenimiento_Productos" }))
            {
                @Html.ValidationSummary(true)
                <div class="form-row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.COD_PRODUCTO)

                        <div class="input-group mb-3">
                            @Html.TextBoxFor(model => model.COD_PRODUCTO, new { @class = "form-control", @maxlength = "100" })
                            <div class="input-group-append" title="generar código">
                                <span class="input-group-text"><i class="bi bi-arrow-clockwise"></i>&nbsp; Generar Código</span>
                            </div>
                        </div>
                        @Html.ValidationMessageFor(model => model.COD_PRODUCTO, string.Empty, new { @class = "cssMessageError animated  fadeInUp" })
                    </div>


                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.DESC_PRODUCTO)
                        @Html.TextBoxFor(model => model.DESC_PRODUCTO, new { @class = "form-control", @maxlength = "100" })
                        @Html.ValidationMessageFor(model => model.DESC_PRODUCTO, string.Empty, new { @class = "cssMessageError animated  fadeInUp" })
                    </div>

                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.ID_UNIDAD_MEDIDA)
                        @Html.DropDownListFor(model => model.ID_UNIDAD_MEDIDA, Model.Lista_Unidad_Medida, new { @class = "form-control", @maxlength = "150", @style = "width:100%" })
                        @Html.ValidationMessageFor(model => model.ID_UNIDAD_MEDIDA, string.Empty, new { @class = "cssMessageError animated  fadeInUp" })
                    </div>

                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.PRECIO_COMPRA)
                        @Html.TextBoxFor(model => model.PRECIO_COMPRA, new { @class = "form-control", @maxlength = "200" })
                        @Html.ValidationMessageFor(model => model.PRECIO_COMPRA, string.Empty, new { @class = "cssMessageError animated  fadeInUp" })
                    </div>

                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.PRECIO_VENTA)
                        @Html.TextBoxFor(model => model.PRECIO_VENTA, new { @class = "form-control", @maxlength = "200" })
                        @Html.ValidationMessageFor(model => model.PRECIO_VENTA, string.Empty, new { @class = "cssMessageError animated  fadeInUp" })
                    </div>

                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.STOCK)
                        @Html.TextBoxFor(model => model.STOCK, new { @class = "form-control", @maxlength = "200" })
                        @Html.ValidationMessageFor(model => model.STOCK, string.Empty, new { @class = "cssMessageError animated  fadeInUp" })
                    </div>

                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.STOCK_MINIMO)
                        @Html.TextBoxFor(model => model.STOCK_MINIMO, new { @class = "form-control", @maxlength = "9" })
                        @Html.ValidationMessageFor(model => model.STOCK_MINIMO, string.Empty, new { @class = "cssMessageError animated  fadeInUp" })
                    </div>

                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.MARCA)
                        @Html.TextBoxFor(model => model.MARCA, new { @class = "form-control", @maxlength = "7" })
                        @Html.ValidationMessageFor(model => model.MARCA, string.Empty, new { @class = "cssMessageError animated  fadeInUp" })
                    </div>

                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.MODELO)
                        @Html.TextBoxFor(model => model.MODELO, new { @class = "form-control", @maxlength = "100" })
                        @Html.ValidationMessageFor(model => model.MODELO, string.Empty, new { @class = "cssMessageError animated  fadeInUp" })
                    </div>

                       <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.FLG_VENCE)  @Html.CheckBoxFor(model => model.FLG_VENCE, new { @class = "form-control", @maxlength = "200" })
                        @Html.TextBoxFor(model => model.FECHA_VENCIMIENTO, new { @class = "form-control", @maxlength = "7" })
                        @Html.ValidationMessageFor(model => model.FECHA_VENCIMIENTO, string.Empty, new { @class = "cssMessageError animated  fadeInUp" })
                    </div>
                </div>
                   
                <br />
                <div class="form-row">
                    <h4 class="card-title border-bottom-head" style="width: 100%; height: 30px;"><i class="bi bi-images"></i>&nbsp; Imagen</h4>
                </div>
         
            }

            @using (Html.BeginForm("Producto", "Producto", new { @area = "Inventario" }, FormMethod.Post, new { @id = "frmMantenimiento_ImagenProducto" }))
            {
                @Html.ValidationSummary(true)
                <div class="form-row">
                    <div class="form-group col-md-12 css_center_block">
                        <label for="fileField-logo" class="attachment">
                            <div class="row btn-file">
                                <div class="btn-file__preview" id="Logo_Img"></div>
                                <div class="btn-file__actions">
                                    <div class="btn-file__actions__item col-xs-12 text-center">
                                        <div class="btn-file__actions__item--shadow">
                                            <i class="bi bi-image" aria-hidden="true"></i>
                                            <div class="visible-xs-block"></div>
                                            Seleccione imagen
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input name="MifileArchivo" type="file" id="fileField-logo" class="file_image">
                        </label>
                    </div>
                </div>

            }

            @using (Html.BeginForm("Producto", "Producto", new { @area = "Inventario" }, FormMethod.Post, new { @id = "frmMantenimiento_Servicios", @style = "display:none;" }))
            {
                @Html.ValidationSummary(true)

                <div class="form-row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.COD_PRODUCTO)

                        <div class="input-group mb-3">
                            @Html.TextBoxFor(model => model.COD_PRODUCTO, new { @class = "form-control", @maxlength = "100" })
                            <div class="input-group-append" title="generar código">
                                <span class="input-group-text"><i class="bi bi-arrow-clockwise"></i>&nbsp; Generar Código</span>
                            </div>
                        </div>
                        @Html.ValidationMessageFor(model => model.COD_PRODUCTO, string.Empty, new { @class = "cssMessageError animated  fadeInUp" })
                    </div>


                    <div class="form-group col-md-6">
                        <label>Servicio:</label>
                        @Html.TextBoxFor(model => model.DESC_PRODUCTO, new { @class = "form-control", @maxlength = "200" })
                        @Html.ValidationMessageFor(model => model.DESC_PRODUCTO, string.Empty, new { @class = "cssMessageError animated  fadeInUp" })
                    </div>

                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.ID_UNIDAD_MEDIDA)
                        @Html.DropDownListFor(model => model.ID_UNIDAD_MEDIDA, Model.Lista_Unidad_Medida, new { @class = "form-control", @maxlength = "150", @style = "width:100%" })
                        @Html.ValidationMessageFor(model => model.ID_UNIDAD_MEDIDA, string.Empty, new { @class = "cssMessageError animated  fadeInUp" })
                    </div>


                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.PRECIO_VENTA)
                        @Html.TextBoxFor(model => model.PRECIO_VENTA, new { @class = "form-control", @maxlength = "10" })
                        @Html.ValidationMessageFor(model => model.PRECIO_VENTA, string.Empty, new { @class = "cssMessageError animated  fadeInUp" })
                    </div>

                    <div class="form-group col-md-12">
                        @Html.LabelFor(model => model.DETALLE)
                        @Html.TextAreaFor(model => model.DETALLE, new { @class = "form-control", @maxlength = "1000" })
                        @Html.ValidationMessageFor(model => model.DETALLE, string.Empty, new { @class = "cssMessageError animated  fadeInUp" })
                    </div>

                </div>
           
            }

        </div>
        <div class="modal-footer">
            <button type="button" class="btn  btn-square btn-dark" data-dismiss="modal">Cancelar</button>
            <button type="button" id="Usuarios_btn_Guardar" class="btn btn-hover-shine btn-square btn-primary"><i class="bi bi-save2"></i>Guardar</button>
        </div>
    </div>
</div>


@Html.Hidden("hfd_ID_SUCURSAL", Model.ID_PRODUCTO)
@Html.Hidden("AccionCategoria", Model.Accion)