@model App_Ventas.Areas.Inventario.Models.ProductoModelView

<script>
    var _FlgServicio = false;
    var CambioImg = false;
    var Img_Array = new Array();
    var _FLG_SERVICIO_UPDATE = '@Model.FLG_SERIVICIO';
    var Frm_Archivo_Img = @Html.Raw(Json.Encode(Model.MiArchivo))

    $(document).ready(function () {
        if (Frm_Archivo_Img != null) {
            Img_Array.push(Frm_Archivo_Img);
            $('#Img_Producto').css('background-image', 'url(' + '@Url.Content("~/Recursos/ImagenProducto/")' + Img_Array[0].CODIGO_ARCHIVO + Img_Array[0].EXTENSION + ')');
            Img_Array.pop();
        }
        $('#FLG_VENCE').bootstrapToggle({
            on: 'Si',
            off: 'No',
            size: "mini",
            width: "50",
            onstyle: "danger"
        });
        $('#FLG_SERIVICIO').bootstrapToggle({
            on: 'Servicio',
            off: 'Producto',
            onstyle: "info",
            size: "normal",
            width: "90",
        });
        $('#STOCK').numeric();
        $('#STOCK_MINIMO').numeric();
        $('#ID_UNIDAD_MEDIDA').select2();
        $('#ID_UNIDAD_MEDIDA_SERVICIO').select2();

        if ($('#AccionProducto').val() == "N") {
            $('#ID_UNIDAD_MEDIDA').val(7).trigger('change');
            $('#ID_UNIDAD_MEDIDA_SERVICIO').val(7).trigger('change');
        } else {
            ShowTipoForumarioRegistro(_FLG_SERVICIO_UPDATE == 'False' ? 0 : 1);
            if ($('#FLG_VENCE').is(':checked'))
                $('#FECHA_VENCIMIENTO').prop('disabled', false);
        }
    });
    $('#FECHA_VENCIMIENTO').datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: "dd/mm/yy",
        firstDay: 1,
        changeFirstDay: false,
        showAnim: 'slideDown'
    });
    $('#Usuarios_btn_Guardar').click(function () {
        Producto_Ingresar();
    });
    $('input:radio[name=Producto_FlgServicio]').change(function () {
        var _valor = $('input:radio[name=Producto_FlgServicio]:checked').val();
        ShowTipoForumarioRegistro(_valor);
    });


    function ShowTipoForumarioRegistro(_valor) {
        if (_valor == 1) {
            $('#frmMantenimiento_Productos').hide();
            $('#frmMantenimiento_Servicios').show('slow');
            $('#frmMantenimiento_ImagenProducto').hide();
            _FlgServicio = true;
        } else if (_valor == 0) {
            $('#frmMantenimiento_Servicios').hide();
            $('#frmMantenimiento_Productos').show('slow');
            $('#frmMantenimiento_ImagenProducto').show('slow');
            _FlgServicio = false;
        }
    }

    function GenerarCodigoProucto() {
        var Codigo = rand_code(8);
        $('#COD_PRODUCTO').val(Codigo);
        $('#COD_PRODUCTO_SERVICIO').val(Codigo);
    }
    $('#FLG_VENCE').change(function () {
        if ($(this).is(':checked')) {
            $('#FECHA_VENCIMIENTO').prop('disabled', false);
            $('#FECHA_VENCIMIENTO').datepicker('show');
        }
        else {
            $('#FECHA_VENCIMIENTO').prop('disabled', true);
            $('#FECHA_VENCIMIENTO').val('');
        }
    });
    $("#fileField_imgen").change(function () {
        debugger;
        var input = document.getElementById('fileField_imgen');
        var file = input.files[0];
        if (file != undefined) {
            var PesodeArchivo = parseFloat(file.size);
            var ext = input.files[0].name.split('.').pop();
            var nombre = input.files[0].name;
            if (nombre.length > 100) {
                jWarning("El nombre del documento es muy largo", 'Alerta');
                $(this).val('');
                return false;
            }
            else {
                var valido = false;
                if (ext.toLowerCase() == "png" || ext.toLowerCase() == "jpeg" || ext.toLowerCase() == "jpg")
                    valido = true;
                if (PesodeArchivo > Tamanio_Valido || !valido) {
                    $(this).val('');
                    if (!valido)
                        jWarning("Solo se permite documentos en formato Imagen(.png,.jpeg,.jpg)", 'Alerta');
                    else
                        jWarning("La cantidad de el archivo que va adjuntar no pueden pesar más de " + Tamanio_Valido / 1024 / 1024 + "Mb", 'Alerta');
                    return false;
                } else {
                    //$("#lbl_file").html(nombre);
                    _GuardarTemporal();
                }
                //archivo_cambiado = true;
            }
        } else {
            $(this).val('');
            //DocumentoArchivo_Error();
            return false;
        }

    });

</script>

<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">

            @if (Model.ID_PRODUCTO == 0)
            {
                    
                <h5 class="modal-title"><i class="bi bi-pencil-square"></i>&nbsp; Registrar producto </h5> 
            }
            else
            {
                <h5 class="modal-title"><i class="bi bi-pencil-square"></i>&nbsp; Actualiza producto</h5> 
            }

            <button type="button" class="close" data-dismiss="modal">
                <span>&times;</span>
            </button>
        </div>
        <div class="modal-body">


            @if (Model.Accion == "N")
            {
                <div class="form-row border-bottom-head" id="_Content_TipoRadioBtn">
                    <div class="col-sm-6">

                        <div class="_Content_Radio">
                            <input type="radio" id="f-option" checked name="Producto_FlgServicio" value="0">
                            <label for="f-option">Producto</label>
                            <div class="check"></div>
                        </div>
                    </div>
                    <div class="col-sm-6">

                        <div class="_Content_Radio">
                            <input type="radio" id="s-option" name="Producto_FlgServicio" value="1">
                            <div class="check">
                                <div class="inside"></div>
                            </div>

                            <label for="s-option">Servicio</label>

                        </div>
                    </div>
                </div>

                <br />
         
                <div class="alert alert-info alert-dismissible alert-alt fade show">
                    <strong><i class="bi bi-exclamation-lg"></i></strong>Este producto sera registrado para el sucursal:<b> @Model.DESC_SUCURSAL.</b>
                </div>
            }

            @using (Html.BeginForm("Producto", "Producto", new { @area = "Inventario" }, FormMethod.Post, new { @id = "frmMantenimiento_Productos" }))
            {
                @Html.ValidationSummary(true)
                <div class="form-row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.COD_PRODUCTO)

                        <div class="input-group mb-3">
                            @Html.TextBoxFor(model => model.COD_PRODUCTO, new { @class = "form-control", @maxlength = "100" })
                            <div class="input-group-append btn-hover-shine waves-effect waves-light" title="generar código" onclick="GenerarCodigoProucto();">
                                <span class="input-group-text"><i class="bi bi-arrow-clockwise"></i>&nbsp; Generar Código</span>
                            </div>
                        </div>
                        @Html.ValidationMessageFor(model => model.COD_PRODUCTO, string.Empty, new { @class = "cssMessageError animated  fadeInUp" })
                    </div>


                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.DESC_PRODUCTO)
                        @Html.TextBoxFor(model => model.DESC_PRODUCTO, new { @class = "form-control", @maxlength = "100" })
                        @Html.ValidationMessageFor(model => model.DESC_PRODUCTO, string.Empty, new { @class = "cssMessageError animated  fadeInUp" })
                    </div>

                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.ID_UNIDAD_MEDIDA)
                        @Html.DropDownListFor(model => model.ID_UNIDAD_MEDIDA, Model.Lista_Unidad_Medida, new { @class = "form-control", @maxlength = "150", @style = "width:100%" })
                        @Html.ValidationMessageFor(model => model.ID_UNIDAD_MEDIDA, string.Empty, new { @class = "cssMessageError animated  fadeInUp" })
                    </div>

                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.STOCK)
                        @Html.TextBoxFor(model => model.STOCK, new { @class = "form-control", @maxlength = "200" })
                        @Html.ValidationMessageFor(model => model.STOCK, string.Empty, new { @class = "cssMessageError animated  fadeInUp" })
                    </div>

                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.PRECIO_COMPRA)
                        @Html.TextBoxFor(model => model.PRECIO_COMPRA, new { @class = "form-control", @maxlength = "200" })
                        @Html.ValidationMessageFor(model => model.PRECIO_COMPRA, string.Empty, new { @class = "cssMessageError animated  fadeInUp" })
                    </div>

                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.PRECIO_VENTA)
                        @Html.TextBoxFor(model => model.PRECIO_VENTA, new { @class = "form-control", @maxlength = "200" })
                        @Html.ValidationMessageFor(model => model.PRECIO_VENTA, string.Empty, new { @class = "cssMessageError animated  fadeInUp" })
                    </div>



                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.STOCK_MINIMO)
                        @Html.TextBoxFor(model => model.STOCK_MINIMO, new { @class = "form-control", @maxlength = "9" })
                        @Html.ValidationMessageFor(model => model.STOCK_MINIMO, string.Empty, new { @class = "cssMessageError animated  fadeInUp" })
                    </div>

                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.MARCA)
                        @Html.TextBoxFor(model => model.MARCA, new { @class = "form-control", @maxlength = "200" })
                    </div>

                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.MODELO)
                        @Html.TextBoxFor(model => model.MODELO, new { @class = "form-control", @maxlength = "200" })

                    </div>

                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.FLG_VENCE)  @Html.CheckBoxFor(model => model.FLG_VENCE, new { @class = "form-control", @maxlength = "200" })
                        @Html.TextBoxFor(model => model.FECHA_VENCIMIENTO, new { @class = "form-control", @maxlength = "10", @placeholder = "dd/mm/yyyy", @disabled = "true" })
                        @Html.ValidationMessageFor(model => model.FECHA_VENCIMIENTO, string.Empty, new { @class = "cssMessageError animated  fadeInUp" })
                    </div>
                </div>
                   
                <br />
                <div class="form-row">
                    <h4 class="card-title border-bottom-head" style="width: 100%; height: 30px;"><i class="bi bi-images"></i>&nbsp; Imagen</h4>
                </div>
         
            }

            @using (Html.BeginForm("Producto", "Producto", new { @area = "Inventario" }, FormMethod.Post, new { @id = "frmMantenimiento_ImagenProducto" }))
            {
                @Html.ValidationSummary(true)
                <div class="form-row">
                    <div class="form-group col-md-12 css_center_block">
                        <label for="fileField_imgen" class="attachment">
                            <div class="row btn-file">
                                <div class="btn-file__preview" id="Img_Producto"></div>
                                <div class="btn-file__actions">
                                    <div class="btn-file__actions__item col-xs-12 text-center">
                                        <div class="btn-file__actions__item--shadow">
                                            <i class="bi bi-image" aria-hidden="true"></i>
                                            <div class="visible-xs-block"></div>
                                            Seleccione imagen
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input name="MifileArchivo" type="file" id="fileField_imgen" class="file_image">
                        </label>
                    </div>
                </div>

            }

            @using (Html.BeginForm("Producto", "Producto", new { @area = "Inventario" }, FormMethod.Post, new { @id = "frmMantenimiento_Servicios", @style = "display:none;" }))
            {
                @Html.ValidationSummary(true)

                <div class="form-row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.COD_PRODUCTO_SERVICIO)

                        <div class="input-group mb-3">
                            @Html.TextBoxFor(model => model.COD_PRODUCTO_SERVICIO, new { @class = "form-control", @maxlength = "100" })
                            <div class="input-group-append btn-hover-shine waves-effect waves-light" title="generar código" onclick="GenerarCodigoProucto();">
                                <span class="input-group-text"><i class="bi bi-arrow-clockwise"></i>&nbsp; Generar Código</span>
                            </div>
                        </div>
                        @Html.ValidationMessageFor(model => model.COD_PRODUCTO_SERVICIO, string.Empty, new { @class = "cssMessageError animated  fadeInUp" })
                    </div>


                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.DESC_SERVICIO)
                        @Html.TextBoxFor(model => model.DESC_SERVICIO, new { @class = "form-control", @maxlength = "200" })
                        @Html.ValidationMessageFor(model => model.DESC_SERVICIO, string.Empty, new { @class = "cssMessageError animated  fadeInUp" })
                    </div>

                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.ID_UNIDAD_MEDIDA_SERVICIO)
                        @Html.DropDownListFor(model => model.ID_UNIDAD_MEDIDA_SERVICIO, Model.Lista_Unidad_Medida, new { @class = "form-control", @maxlength = "150", @style = "width:100%" })
                        @Html.ValidationMessageFor(model => model.ID_UNIDAD_MEDIDA_SERVICIO, string.Empty, new { @class = "cssMessageError animated  fadeInUp" })
                    </div>


                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.PRECIO_VENTA_SERVICIO)
                        @Html.TextBoxFor(model => model.PRECIO_VENTA_SERVICIO, new { @class = "form-control", @maxlength = "10" })
                        @Html.ValidationMessageFor(model => model.PRECIO_VENTA_SERVICIO, string.Empty, new { @class = "cssMessageError animated  fadeInUp" })
                    </div>

                    <div class="form-group col-md-12">
                        @Html.LabelFor(model => model.DETALLE)
                        @Html.TextAreaFor(model => model.DETALLE, new { @class = "form-control", @maxlength = "1000", @onkeyup = "CountCharactersControlTxt(this.id,'lbl_countproducto', 1000)" })
                        @Html.ValidationMessageFor(model => model.DETALLE, string.Empty, new { @class = "cssMessageError animated  fadeInUp" })
                        <label id="lbl_countproducto" style="width: 100%" class="Formato" runat="server">Nº Caracteres: 0 restan 1000</label>
                    </div>

                </div>
           
            }

        </div>
        <div class="modal-footer">
            <button type="button" id="Usuarios_btn_Guardar" class="btn btn-hover-shine btn-square btn-primary"><i class="bi bi-save2"></i>&nbsp;Guardar</button>
            <button type="button" class="btn  btn-square btn-dark" data-dismiss="modal">Cancelar</button>

        </div>
    </div>
</div>


@Html.Hidden("hfd_ID_PRODUCTO", Model.ID_PRODUCTO)
@Html.Hidden("AccionProducto", Model.Accion)
@Html.Hidden("hfd_ID_SUCURSAL", Model.ID_SUCURSAL)