@model App_Ventas.Areas.Inventario.Models.TransladoModelView
<script>

    $(document).ready(function () {
        Translados_Detalle_ConfigurarGrilla();
        $('#ID_SUCURSAL_ORIGEN').select2();
        $('#ID_SUCURSAL_DESTINO').select2();
    });

    $('#Compras_btn_Guardar').click(function () {
        Compras_Ingresar();
    });

    $('#Translados_btn_BuscarProductos').click(function () {
        Translados_ViewBuscarProducto();
    });

</script>

<style>
    .modal-lg_ {
        max-width: 45%;
    }
</style>

<div class="modal fade" id="myModalBuscarProduc" tabindex="" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

<div class="modal-dialog modal-lg_" role="document">
    <div class="modal-content">
        <div class="modal-header" style="background:#3095b2">
            <h5 class="modal-title"><i class="bi bi-truck"></i>&nbsp; Translado de productos </h5>
            <button type="button" class="close" data-dismiss="modal">
                <span>&times;</span>
            </button>
        </div>
        <div class="modal-body">
            @using (Html.BeginForm("Compras", "Compras", new { @area = "Compras" }, FormMethod.Post, new { @id = "frmMantenimiento_Compras" }))
            {
                @Html.ValidationSummary(true) 
                <div class="form-row">
                    <div class="col-sm-12">
                        <h4 class="card-title border-bottom-head" style="width: 100%; height: 30px;">Almacén Origen:</h4>
                    </div>
                </div>
                
                <div class="form-row">
                    <div class="form-group col-md-12">
                        @Html.LabelFor(model => model.ID_SUCURSAL_ORIGEN)
                        @Html.DropDownListFor(model => model.ID_SUCURSAL_ORIGEN, Model.Lista_Sucursal, new { @class = "form-control", @maxlength = "150", @style = "width:100%" })
                        @Html.ValidationMessageFor(model => model.ID_SUCURSAL_ORIGEN, string.Empty, new { @class = "cssMessageError animated  fadeInUp" })
                    </div>

                </div>
            }
            <div class="form-row">
                <div class="col-sm-12">
                    <h4 class="card-title border-bottom-head" style="width: 100%; height: 30px;"><i class="bi bi-list-check"></i>&nbsp; Lista de Productos:</h4>
                </div>

                <div class=" col-md-12" style="display: flex; justify-content: flex-end; margin-bottom: 5px;">
                    <button type="button" class="btn btn-rounded btn-secondary btn-hover-shine" id="Translados_btn_BuscarProductos" data-toggle="modal">
                        <span class="btn-icon-left text-secondary"><i class="fa fa-plus color-secondary"></i>
                        </span>Agregar Producto</button>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <div class="jqGrid">
                        <table id="Translados_Detalle_Grilla"></table>
                        <div id="Translados_Detalle_Barra"></div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-sm-12">
                    <h4 class="card-title border-bottom-head" style="width: 100%; height: 30px;">Almacén Destino:</h4>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                    @Html.LabelFor(model => model.ID_SUCURSAL_DESTINO)
                    @Html.DropDownListFor(model => model.ID_SUCURSAL_DESTINO, Model.Lista_Sucursal, new { @class = "form-control", @maxlength = "150", @style = "width:100%" })
                    @Html.ValidationMessageFor(model => model.ID_SUCURSAL_DESTINO, string.Empty, new { @class = "cssMessageError animated  fadeInUp" })
                </div>
                <div class="form-group col-md-12">
                    @Html.LabelFor(model => model.DETALLE)
                    @Html.TextAreaFor(model => model.DETALLE, new { @class = "form-control", @maxlength = "200", @aucomplete = "off", @placeholder = "Ingrese descripción" })
                    @Html.ValidationMessageFor(model => model.DETALLE, string.Empty, new { @class = "cssMessageError animated  fadeInUp" })
                </div>

            </div>


        </div>
        <div class="modal-footer">
            <button type="button" id="Compras_btn_Guardar" class="btn btn-hover-shine btn-square btn-info"><i class="bi bi-truck"></i>&nbsp;Iniciar translado</button>
            <button type="button" class="btn  btn-square btn-dark" data-dismiss="modal">Cancelar</button>
        </div>
    </div>
</div>


@*@Html.Hidden("hfd_ID_COMPRA", Model.ID_COMPRA)*@
@Html.Hidden("HDF_COD_UNIDAD_MEDIDA")