<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Focus -  </title>
    <!-- Favicon icon -->
    @*<link rel="icon" type="image/png" sizes="16x16" href="./images/favicon.png">*@
    <link rel="stylesheet" href="@Url.Content("~/assets/vendor/owl-carousel/css/owl.carousel.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/vendor/owl-carousel/css/owl.theme.default.min.css")">
    <link href="@Url.Content("~/assets/vendor/jqvmap/css/jqvmap.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/assets/css/style.css")" rel="stylesheet">
    <link href="@Url.Content("~/assets/css/Changes_estilos/theme_dark.css")" rel="stylesheet">
    <link href="@Url.Content("~/assets/icons/Boopstrap/bootstrap-icons.css")" rel="stylesheet">
    <link href="@Url.Content("~/assets/jqGrid/css/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/jqGrid/jquery-ui/jquery-ui-1.10.1.custom.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/vendor/sweetalert2/sweetalert2.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/assets/css/animate.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/assets/css/General.css")" rel="stylesheet">
    <link href="@Url.Content("~/assets/css/Switch_Toggle.css")" rel="stylesheet">
    <link href="@Url.Content("~/assets/Pluggins/Boostrap-Toggle/toggle.css")" rel="stylesheet">
    <link href="@Url.Content("~/assets/vendor/select2/css/select2.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/assets/css/File_image.css")" rel="stylesheet">
    <link href="@Url.Content("~/assets/vendor/toastr/css/toastr.min.css")" rel="stylesheet">

    @*<script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")" type="text/javascript"></script>*@


</head>
<body>
    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <a href="index.html" class="brand-logo">
                <img class="logo-abbr" src="~/assets/images/logo.png" alt="">
                <img class="logo-compact" src="~/assets/images/logo-text.png" alt="">
                <img class="brand-title" src="~/assets/images/logo-text.png" alt="">
            </a>

            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>
            </div>


        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-between">
                        <div class="header-left">
                            @*       <div class="search_bar dropdown">
                                <span class="search_icon p-3 c-pointer" data-toggle="dropdown">
                                    <i class="mdi mdi-magnify"></i>
                                </span>

                                <div class="dropdown-menu p-0 m-0">
                                    <form>
                                        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                                    </form>
                                </div>
                            </div>*@

                            <div class="row page-titles mx-0" style="margin-bottom: 0px;">
                                <div class="col-sm-12 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="javascript:void(0)" id="Text_padre">App</a></li>
                                        <li class="breadcrumb-item active"><a href="javascript:void(0)" id="Text_Hijo">Home</a></li>
                                    </ol>
                                </div>
                            </div>


                        </div>

                        <ul class="navbar-nav header-right">

                            @*     <li class="nav-item dropdown notification_dropdown">
                                <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                                    <i class="mdi mdi-bell"></i>
                                    <div class="pulse-css"></div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <ul class="list-unstyled">
                                        <li class="media dropdown-item">
                                            <span class="success"><i class="ti-user"></i></span>
                                            <div class="media-body">
                                                <a href="#">
                                                    <p>
                                                        <strong>Martin</strong> has added a <strong>customer</strong> Successfully
                                                    </p>
                                                </a>
                                            </div>
                                            <span class="notify-time">3:20 am</span>
                                        </li>
                                        <li class="media dropdown-item">
                                            <span class="primary"><i class="ti-shopping-cart"></i></span>
                                            <div class="media-body">
                                                <a href="#">
                                                    <p><strong>Jennifer</strong> purchased Light Dashboard 2.0.</p>
                                                </a>
                                            </div>
                                            <span class="notify-time">3:20 am</span>
                                        </li>
                                        <li class="media dropdown-item">
                                            <span class="danger"><i class="ti-bookmark"></i></span>
                                            <div class="media-body">
                                                <a href="#">
                                                    <p>
                                                        <strong>Robin</strong> marked a <strong>ticket</strong> as unsolved.
                                                    </p>
                                                </a>
                                            </div>
                                            <span class="notify-time">3:20 am</span>
                                        </li>
                                        <li class="media dropdown-item">
                                            <span class="primary"><i class="ti-heart"></i></span>
                                            <div class="media-body">
                                                <a href="#">
                                                    <p><strong>David</strong> purchased Light Dashboard 1.0.</p>
                                                </a>
                                            </div>
                                            <span class="notify-time">3:20 am</span>
                                        </li>
                                        <li class="media dropdown-item">
                                            <span class="success"><i class="ti-image"></i></span>
                                            <div class="media-body">
                                                <a href="#">
                                                    <p>
                                                        <strong>James.</strong> has added a<strong>customer</strong> Successfully
                                                    </p>
                                                </a>
                                            </div>
                                            <span class="notify-time">3:20 am</span>
                                        </li>
                                    </ul>
                                    <a class="all-notification" href="#">See all notifications <i
                                        class="ti-arrow-right"></i></a>
                                </div>
                            </li>*@

                            <li class="nav-item dropdown header-profile backroung_NameUser">
                                <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                                    <i class="icon icon-single-04" style="font-size: 18px; color: #2c7be5;"></i>
                                    <span>Ivan Perez Tintaya</span>
                                    <i class="bi bi-chevron-down"></i>

                                      <input type="hidden" id="input_hdcodusuario" value="iperez" />
                                    
                                </a>
                                <div class="dropdown-menu dropdown-menu-right animate__bounceIn">
                                    <a href="./app-profile.html" class="dropdown-item">
                                        <i class="icon-user"></i>
                                        <span class="ml-2">Profile </span>
                                    </a>
                                    <a href="./email-inbox.html" class="dropdown-item">
                                        <i class="icon-envelope-open"></i>
                                        <span class="ml-2">Inbox </span>
                                    </a>
                                    <a href="./page-login.html" class="dropdown-item">
                                        <i class="icon-key"></i>
                                        <span class="ml-2">Logout </span>
                                    </a>
                                </div>
                            </li>

                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->
        <input type="hidden" id="inputHddNombre_Sistema" value="@System.Configuration.ConfigurationManager.AppSettings["Nombre_Sistema"].ToString()"/>
        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="quixnav">
            <div class="quixnav-scroll">
                <ul class="metismenu" id="menu" @*id="menuPrincipal"*@>


                    <li><a class="has-arrow not-before" name="Admin/Prueba/Index" onclick="_LayoutInvocar(this)" id="aDasboard" aria-expanded="false">
                        <i class="icon icon-app-store"></i><span class="nav-text">Dasboard </span></a>
                        <ul aria-expanded="false">
                        </ul>
                    </li>


                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                        class="bi bi-gear-wide-connected"></i><span class="nav-text">Administración</span></a>
                        <ul aria-expanded="false">
                            <li><a name="Administracion/ConfigurarEmpresa/Index" onclick="_LayoutInvocar(this)">Configuracion Empresa </a></li>
                            <li><a name="Administracion/Usuarios/Index" onclick="_LayoutInvocar(this)" id="aPrueba">Usuarios</a></li>
                            <li><a name="Administracion/Perfil/Index" onclick="_LayoutInvocar(this)" id="aPerfil">Perfiles</a></li>
                            <li><a name="Administracion/Sucursal/Index" onclick="_LayoutInvocar(this)" id="aSucursal">Sucursales</a></li>
                            <li><a name="Administracion/Clientes/Index" onclick="_LayoutInvocar(this)" id="aCliente">Clientes</a></li>
                            <li><a name="Administracion/Proveedor/Index" onclick="_LayoutInvocar(this)" id="aProveedor">Proveedores</a></li>

                        </ul>
                    </li>

                    @*<li class="nav-label">Apps</li>*@

                    <li><a class="has-arrow not-before" name="Caja/Caja/Index" onclick="_LayoutInvocar(this)" id="aCaja" aria-expanded="false">
                        <i class="bi bi-wallet"></i><span class="nav-text">Caja </span></a>
                        <ul aria-expanded="false">
                        </ul>
                    </li>

                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                        class="bi bi-cart3"></i><span class="nav-text">Ventas</span></a>
                        <ul aria-expanded="false">
                            <li><a name="Ventas/Ventas/Index" onclick="_LayoutInvocar(this)" id="aVentas">Ventas</a></li>
                            <li><a href="./index2.html">Ventas Detalladas</a></li>
                            <li><a href="./index2.html">Ventas Anuladas</a></li>
                            <li><a href="./index2.html">Devoluciones</a></li>
                        </ul>
                    </li>

                    <li><a class="has-arrow not-before" name="CuentasCobrar/CuentasCobrar/Index" onclick="_LayoutInvocar(this)" id="aCuentasCobrar" aria-expanded="false">
                        <i class="bi bi-collection"></i><span class="nav-text">Cuentas por Cobrar </span></a>
                        <ul aria-expanded="false">
                        </ul>
                    </li>


                    <li><a class="has-arrow not-before" name="Compras/Compras/Index" onclick="_LayoutInvocar(this)" id="aCompras" aria-expanded="false">
                        <i class="bi bi-basket3"></i><span class="nav-text">Compras </span></a>
                        <ul aria-expanded="false">
                        </ul>
                    </li>



                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                        class="bi bi-box-seam"></i><span class="nav-text">Inventario</span></a>
                        <ul aria-expanded="false">
                            <li><a name="Inventario/Categoria/Index" onclick="_LayoutInvocar(this)" id="aCategoria">Categorias</a></li>
                            <li><a name="Inventario/Producto/Index" onclick="_LayoutInvocar(this)" id="aProdcuto">Producto / Servicio</a></li>
                            <li><a href="./index2.html">Kardex</a></li>

                        </ul>
                    </li>


                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                        class="bi bi-bar-chart-line"></i><span class="nav-text">Reportes</span></a>
                        <ul aria-expanded="false">
                            <li><a name="Admin/Prueba/Index" onclick="_LayoutInvocar(this)" id="aReporte">Prueba</a></li>
                            <li><a href="./index2.html">Dashboard 2</a></li>
                        </ul>
                    </li>



                </ul>
            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <!-- row -->
            <div class="container-fluid" id="divProceso">
            </div>
        </div>
        @RenderBody()
        <!--**********************************
            Content body end
        ***********************************-->


        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright © Linksoft &amp; Developed by <a href="#" target="_blank">Ivans</a> 2022</p>

            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->

        <!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->


    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

 
    <!-- Required vendors -->



    <script src="@Url.Content("~/assets/vendor/global/global.min.js")"></script>
    <script src="@Url.Content("~/assets/js/quixnav-init.js")"></script>
    <script src="@Url.Content("~/assets/js/custom.min.js")"></script>

    <script src="@Url.Content("~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js")"></script>
    <!-- Vectormap -->
    <script src="@Url.Content("~/assets/vendor/raphael/raphael.min.js")"></script>
    <script src="@Url.Content("~/assets/vendor/morris/morris.min.js")"></script>


    <script src="@Url.Content("~/assets/vendor/circle-progress/circle-progress.min.js")"></script>
    <script src="@Url.Content("~/assets/vendor/chart.js/Chart.bundle.min.js")"></script>

    <script src="@Url.Content("~/assets/vendor/gaugeJS/dist/gauge.min.js")"></script>

    <!--  flot-chart js -->
    <script src="@Url.Content("~/assets/vendor/flot/jquery.flot.js")"></script>
    <script src="@Url.Content("~/assets/vendor/flot/jquery.flot.resize.js")"></script>

    <!-- Owl Carousel -->
    <script src="@Url.Content("~/assets/vendor/owl-carousel/js/owl.carousel.min.js")"></script>

    <!-- Counter Up -->
    <script src="@Url.Content("~/assets/vendor/jqvmap/js/jquery.vmap.min.js")"></script>
    <script src="@Url.Content("~/assets/vendor/jqvmap/js/jquery.vmap.usa.js")"></script>
    <script src="@Url.Content("~/assets/vendor/jquery.counterup/jquery.counterup.min.js")"></script>

    @*<script src="@Url.Content("~/assets/js/dashboard/dashboard-1.js")"></script>*@

    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-migrate-1.0.0.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/jqGrid/js/i18n/grid.locale-es.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.jqGrid.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/SICA.js")"></script>

    <script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>

    @*<script src="@Url.Content("~/assets/vendor/sweetalert2/dist/sweetalert2.min.js")"></script>*@
    <script src="@Url.Content("~/assets/vendor/sweetalert2/sweetalert2.min.js")"></script>
    <script src="@Url.Content("~/Scripts/SweetAlert.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/Pluggins/Boostrap-Toggle/Toggle.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/vendor/select2/js/select2.full.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/vendor/toastr/js/toastr.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ui.datepicker-es.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.form.js")" type="text/javascript"></script>
    <script src= "@Url.Content("~/Scripts/moment.min.js")" type="text/javascript"></script>
    <script src= "@Url.Content("~/Scripts/inicializacion.js")" type="text/javascript"></script>
    <script src= "@Url.Content("~/Scripts/jquery.blockUI.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/General.js")"></script>

       <!--**********************************
        Scripts
    ***********************************-->
    <script type="text/javascript">
        var baseUrl = '@Url.Content("~")';
        function _LayoutInvocar(e) {
            ID_VENTANA = e.tabIndex;
            var item =
                {
                    //ID_SEDE: $('#input_hdidsede').val()
                };
            InvocarVista(baseUrl + e.name, item);
        };


        $(document).ready(function () {
       
        });

    </script>



</body>

</html>
