@model App_Ventas.Areas.Ventas.Models.VentasModelView
<script src="@Url.Content("~/Scripts/Js/Ventas/Ventas.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Js/Ventas/Ventas_Detalle.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Js/Recursiva/Configuracion.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Js/Inventario/Producto_Recursos.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Js/Ventas/Ventas_Recursiva.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        Ventas_ConfigurarGrilla("Ventas");
        $(".badge").tooltip({ placement: "bottom", delay: { show: 100, hide: 400 } });
        //Ventas_CargarGrilla();
        //Ventas_GenerarVistaComprobante(57); 
    });

    $("#Ventas_btnBuscar").click(function (e) {
        Ventas_ConfigurarGrilla("Ventas");
    });

    $("#Ventas_btnLimpiar").click(function (e) {
        $("#Ventas_CodigoVenta").val('');
        $('#ID_TIPO_COMPROBANTE_SEARCH').val('');
        $('#ID_TIPO_PAGO_SEARCH').val('');
        Ventas_ConfigurarGrilla("Ventas");
    });


    $("#Ventas_btnNuevo").click(function (e) {
        Ventas_MostrarNuevo();
    });

</script>
<div class="modal fade" id="myModalNuevo" tabindex="" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<div class="row ">
    <div class="col-xl-12 col-xxl-12 col-lg-12 col-md-12">
        <div class="card">
            <div class="card-body">
                <div id="accordion-one" class="accordion">
                    <div class="accordion__item" style="margin-bottom: 0px;">
                        <div class="accordion__header collapsed" data-toggle="collapse" data-target="#default_collapseOne" aria-expanded="false" style="cursor: pointer;">
                            <span class="accordion__header--text"><i class="bi bi-search"></i>&nbsp; Busqueda avanzada</span>
                            <span class="accordion__header--indicator"></span>
                        </div>
                        <div id="default_collapseOne" class="accordion__body collapse" data-parent="#accordion-one" style="">
                            <div class="accordion__body--text">
                                <div class="basic-form">
                                    <div class="form-row">
                                        <div class="form-group col-md-3">
                                            <label>Código Venta:</label>
                                            <input id="Ventas_CodigoVenta" type="text" class="form-control" placeholder="Ejm: 000001">
                                        </div>

                                        <div class="form-group col-md-3">
                                            <label>Tipo Comprobante:</label>
                                            @Html.DropDownListFor(model => model.ID_TIPO_COMPROBANTE_SEARCH, Model.Lista_Tipo_Comprobante, new { @class = "form-control", @maxlength = "150", @style = "width:100%" })
                                        </div>

                                        <div class="form-group col-md-3">
                                            <label>Tipo Pago:</label>
                                            @Html.DropDownListFor(model => model.ID_TIPO_PAGO_SEARCH, Model.Lista_Tipo_Pago, new { @class = "form-control", @maxlength = "150", @style = "width:100%" })
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-3">
                                            <button type="button" id="Ventas_btnBuscar" class="btn btn-hover-shine  btn-square btn-primary "><i class="fa fa-search"></i>&nbsp Buscar</button>
                                            <button type="button" id="Ventas_btnLimpiar" class="btn  btn-square btn-light"><i class="bi bi-arrow-clockwise"></i>&nbsp Limpiar</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="row ">
    <div class="col-xl-12 col-xxl-12 col-lg-12 col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="form-row">
                    <button type="button" id="Ventas_btnNuevo" class="btn btn-rounded btn-primary btn-hover-shine" style="margin-bottom: 5px;">
                        <span class="btn-icon-left  text-primary "><i class="fa fa-plus color-primary"></i></span>Nueva Venta</button>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="Ventas_Grilla" style="width: 100%" class="table"></table>
                    @*<div id="Ventas_Barra"></div>*@
                </div>
            </div>
        </div>
    </div>
</div>

