@model App_Ventas.Areas.Ventas.Models.VentasModelView
<script>
    $(document).ready(function () {
        var _ID_VENTA = $('#hfd_ID_VENTA').val();
        Ventas_Detalle_ConfigurarGrilla('@Model.TIPO_GRILLA');
        Ventas_Detalle_CargarGrilla(_ID_VENTA);
        ConfiguracionEmpresa();
    });


    $(function () {
        $(".modal-content").draggable();
    });


</script>

<style>
    .modal-lg_ {
        max-width: 52%;
    }

    ._text_detalle {
        width: 45%;
        max-width: 45%;
        display: inline-block;
        text-align: right;
    }

    ._text_detalle_monto {
        width: 45%;
        max-width: 45% display: inline-block;
        text-align: left;
    }


    ._Montos {
        float: right;
        text-align: right;
    }
</style>


<div class="modal-dialog modal-lg_" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title"><i class="bi bi-pencil-square"></i>&nbsp; Código venta: @Model.ID_VENTA </h5>
            <button type="button" class="close" data-dismiss="modal">
                <span>&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-row">
                <h4 class="card-title border-bottom-head" style="width: 100%; height: 30px;"><i class="bi bi-list-check"></i>&nbsp; Lista de Productos vendidos:</h4>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <div class="jqGrid">
                        <table id="Ventas_Detalle_Grilla"></table>
                        <div id="Ventas_Detalle_Barra"></div>
                    </div>
                </div>
            </div>
            @if (@Model.TIPO_GRILLA == "DETALLE")
            {
                <div class="col-xl-12 col-xxl-12 col-lg-12 col-md-12 ">
                    <div class="basic-list-group">
                        <ul class="list-group list-group-flush" style="color: #5a5a5a;">
                            <li class="list-group-item"><strong><b>Resumen:</b> </strong></li>
                            <li class="list-group-item">
                                <span class="_text_detalle"><span class="text-danger">(-) </span>Descuento Total:</span>
                                <span class="_text_detalle_monto"><span class="_Montos" id="Venta_Descuento">@Model.DESCUENTO</span><span class="simboloMoneda _Montos"></span></span>
                            </li>
                            <li class="list-group-item">
                                <span class="_text_detalle">Subtotal:</span>
                                <span class="_text_detalle_monto"><span class="_Montos" id="Venta_Subtotal">@Model.SUBTOTAL</span> <span class="simboloMoneda _Montos"></span></span>
                            </li>
                            <li class="list-group-item">
                                <span class="_text_detalle"><span id="NomImpuesto"></span>(<span id="Impuesto"></span>%):</span>
                                <span class="_text_detalle_monto"><span class="_Montos" id="Venta_Igv">@Model.IGV</span><span class="simboloMoneda _Montos"></span></span>
                            </li>
                            <li class="list-group-item" style="border-bottom: 1px solid #eaeaea;">
                                <span class="_text_detalle">Total:</span>
                                <span class="_text_detalle_monto"><span class="_Montos" id="Venta_Total">@Model.TOTAL</span><span class="simboloMoneda _Montos"></span></span>
                            </li>
                        </ul>
                    </div>
                </div>
            }
        </div>
        <div class="modal-footer">
            <button type="button" class="btn  btn-square btn-dark" data-dismiss="modal">Cancelar</button>
        </div>
    </div>
</div>
@Html.Hidden("hfd_ID_VENTA", Model.ID_VENTA)
