@model App_Ventas.Areas.Ventas.Models.BuscarProductoModelView
<script>
    var _Valido = false;
    var _Accion = $('#AccionBuscarProducto').val();
    var _Tipo_Proceso = $('#hfd_TIPO_PROCESO').val();

    $(document).ready(function () {
        ConfiguracionEmpresa();
        $('#CANTIDAD').numeric();
        setTimeout(function () { $('#SEARCH_PRODUCTO').focus(); }, 500)
        if (_Accion != "N") {
            $('#_DetallePorductos').show('slow');
            _Valido = true;
        }
    });
    // al cerrar el modal hijo el padre sigue con la clase modal open. 
    $(document).on('hidden.bs.modal', '.modal', function () {
        $('.modal:visible').length && $(document.body).addClass('modal-open');
    });
    $('#Sucursal_Btn_Guardar').click(function () {
        Ventas_Detalle_Insertar();
    });

    $('#Btn_CerrarModal').click(function () {
        $('#myModalBuscarProduc').modal('hide');
    });
    $(function () {
        $(".modal-content").draggable();
    });

    $('#CANTIDAD').keyup(function () {
        var _ID_UNIDAD_MEDIDA = $('#ID_UNIDAD_MEDIDA').val();
        Ventas_Detalle_CalcularPrecio(_ID_UNIDAD_MEDIDA);
    });
    function LimpiarFormulario() {
        $('#Alert_Error').hide();
        $('#mensaje_Error').text('');
        $('#hfd_ID_PRODUCTO').val('');
        $('#hfd_STOCK').val('');
        _Valido = false;
        _Accion = "N";
        _Flg_servicio = false;
    }

    $('#SEARCH_PRODUCTO').keypress(function (event) {
        var keycode = (event.keyCode ? event.keyCode : event.which);
        if (keycode == '13') {
            if (!_Valido) {
                Ventas_BuscarProducto($('#SEARCH_PRODUCTO').val(), _Id_Sucursal);
            }
        }
    });

    $('#CANTIDAD').keypress(function (event) {
        var keycode = (event.keyCode ? event.keyCode : event.which);
        if (keycode == '13') {
            if (_Valido) {
                Ventas_Detalle_Insertar();
            }
        }
    });


    /*autocomplete*/
    $('#SEARCH_PRODUCTO').autocomplete(
    {
        source: function (request, response) {
            $.getJSON('@Url.Action("Producto_Buscar_Listar", "Ventas", new { area = "Ventas" })', { DESC_PRODUCTO: request.term.toUpperCase().trim(), ID_SUCURSAL: _Id_Sucursal },
        response);
        },
        minLength: 4,
        select: function (event, ui) {
            LimpiarFormulario();
            if (parseInt(ui.item.STOCK) > 0 && ui.item.FLG_SERVICIO == 0) { // productos          
                $('#_DetallePorductos').show('slow');
                var _STOCK = ui.item.STOCK;
                var _Cantidad = 1; 
                $("#Hdf_flg_Servicio").val(ui.item.FLG_SERVICIO);           
                $("#SEARCH_PRODUCTO").val(ui.item.DESC_PRODUCTO);
                $("#ID_UNIDAD_MEDIDA").val(ui.item.ID_UNIDAD_MEDIDA);
                $("#HDF_COD_UNIDAD_MEDIDA").val(ui.item.COD_UNIDAD_MEDIDA);
                $("#_Info_codigoUnidad").text(ui.item.COD_UNIDAD_MEDIDA == "Kg" ? "Gr." : ui.item.COD_UNIDAD_MEDIDA);
                $("#COD_PRODUCTO").val(ui.item.COD_PRODUCTO);
                if (ui.item.ID_UNIDAD_MEDIDA == 1)
                {
                    if (_STOCK > 1000) // mayor a 1 kilo
                    {
                        _Cantidad = 1000; // gramos
                    } else {
                        _Cantidad = _STOCK;               
                    }                  
                 }
                $("#hfd_STOCK").val(ui.item.STOCK);
                $("#Label_Stock").text(ui.item.STOCK);
                $("#PRECIO_VENTA").val(Number(ui.item.PRECIO_VENTA).toFixed(2));
                $("#DETALLE").val(ui.item.DETALLE);
                $('#TOTAL').val(Number(ui.item.PRECIO_VENTA).toFixed(2));
                $('#hfd_ID_PRODUCTO').val(ui.item.ID_PRODUCTO);
                $('#CANTIDAD').val(_Cantidad);
                $('#CANTIDAD').focus();
                Ventas_Detalle_CalcularPrecio(ui.item.ID_UNIDAD_MEDIDA);
                _Valido = true;
                _Accion = "N";
            } else if (ui.item.FLG_SERVICIO == 1) { // servicios
                $('#_DetallePorductos').show('slow');
                $("#Hdf_flg_Servicio").val(ui.item.FLG_SERVICIO);
                $("#hfd_STOCK").val(ui.item.STOCK);
                $("#SEARCH_PRODUCTO").val(ui.item.DESC_PRODUCTO);
                $("#ID_UNIDAD_MEDIDA").val(ui.item.ID_UNIDAD_MEDIDA);
                $("#HDF_COD_UNIDAD_MEDIDA").val(ui.item.COD_UNIDAD_MEDIDA);
                $("#COD_PRODUCTO").val(ui.item.COD_PRODUCTO);
                $("#Label_Stock").text(ui.item.STOCK);
                $("#PRECIO_VENTA").val(Number(ui.item.PRECIO_VENTA).toFixed(2));
                $("#DETALLE").val(ui.item.DETALLE);
                $('#TOTAL').val(Number(ui.item.PRECIO_VENTA).toFixed(2));
                $('#hfd_ID_PRODUCTO').val(ui.item.ID_PRODUCTO);
                $('#CANTIDAD').val(1);
                $('#CANTIDAD').focus();
                _Valido = true;
                _Accion = "N";
            }
            else {
                $('#Alert_Error').show('slow');
                $('#mensaje_Error').text('Producto selecionado sin stock ):.');
                _Valido = false;
            }
            return false;
        },
        response: function (event, ui) {
            $("#SEARCH_PRODUCTO").val('');
            return false;
        }
    })
    .data("autocomplete")._renderItem = function (ul, item) {
        debugger;
        var _html_FotoProducto = "";
        var _Tipodesc = item.FLG_SERVICIO == 1 ? 'servicio' : 'producto';
        if (item.FLG_SERVICIO == 0 && item.MiArchivo.CODIGO_ARCHIVO !="0") {
            _html_FotoProducto = "<div class='_FotoPro' style=\" background-image: url(@Url.Content("~/Recursos/ImagenProducto/")" + item.MiArchivo.CODIGO_ARCHIVO + item.MiArchivo.EXTENSION + ") \">  </div>";
        }
        var _Stock = item.STOCK; 
        if (item.ID_UNIDAD_MEDIDA == 1) {
            _Stock = ConvertGramos_Kilos(_Stock);
        }
        return $("<li id='autocom'></li>")
        .data("item.autocomplete", item)
        .append($("<a></a>").html("<div class='_cListProductos   border-bottom-head'>"
            + "<div class='_text_producto'>" + item.DESC_PRODUCTO + "</div>"
            + "<div class='_InfoProd'> "
            + "<div class='_Stock'> <span> <i class='bi bi-box-seam'></i> stock: </span>" + _Stock + "</div>"
            + "<div class='_Precio'> <span> <i class='bi bi-cash-stack'></i> precio: </span>" + Number(item.PRECIO_VENTA).toFixed(2) + "</div>"
            + "<div class='_Tipo'> <span> <i class='bi bi-back'></i> tipo: </span>" + _Tipodesc + "</div>"
            + _html_FotoProducto
            + " </div></div>"
            )).appendTo(ul);
    }

</script>
<style>
    #modal-dialog_this {
        margin: 80px auto;
        float: right;
        margin-right: 5%;
    }

    #modal-header_this {
        background: #2c7be5 !important;
        padding: 8px;
    }


</style>

<div class="modal-dialog" role="document" id="modal-dialog_this">
    <div class="modal-content">
        <div class="modal-header" id="modal-header_this">
            <h5 class="modal-title"><i class="bi bi-search"></i>&nbsp; Buscar producto</h5>
        </div>
        <div class="modal-body">
            @using (Html.BeginForm("", "", new { @area = "" }, FormMethod.Post, new { @id = "frmMantenimiento_BuscarProducto" }))
            {
                @Html.ValidationSummary(true)
                <div class="form-row">
                    <p style="font-weight: bold; color: black;"><i class="bi bi-cart-plus"></i>&nbsp; Busca productos o servicios para agregar a la lista de productos. </p>
                    <div class="form-group col-md-12 border-bottom-head">
                        @Html.LabelFor(model => model.SEARCH_PRODUCTO)
                        <div class="input-group mb-3 ">
                            @Html.TextBoxFor(model => model.SEARCH_PRODUCTO, new { @class = "form-control", @maxlength = "200", @aucomplete = "off", @placeholder = "Ingrese descripción o código de producto..." })
                            <div class="input-group-append  btn-hover-shine waves-effect waves-light ">
                                <span class="input-group-text input-group-text_white"><i class="bi bi-search" style="color: #404040;"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="form-row" id="_DetallePorductos" style="display: none;">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.COD_PRODUCTO)
                        @Html.TextBoxFor(model => model.COD_PRODUCTO, new { @class = "form-control", @maxlength = "200", @aucomplete = "off", @disabled = "true" })
                        @Html.ValidationMessageFor(model => model.COD_PRODUCTO, string.Empty, new { @class = "cssMessageError animated  fadeInUp" })
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.ID_UNIDAD_MEDIDA)
                        @Html.DropDownListFor(model => model.ID_UNIDAD_MEDIDA, Model.Lista_Unidad_Medida, new { @class = "form-control", @maxlength = "150", @style = "width:100%", @disabled = "true" })
                        @Html.ValidationMessageFor(model => model.ID_UNIDAD_MEDIDA, string.Empty, new { @class = "cssMessageError animated  fadeInUp" })
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.PRECIO_VENTA)
                        <div class="input-group ">
                            <div class="input-group-prepend">
                                <span class="input-group-text input-group-text_white"><span class="simboloMoneda"></span></span>
                            </div>
                            @Html.TextBoxFor(model => model.PRECIO_VENTA, new { @class = "form-control", @maxlength = "100", @aucomplete = "off", @disabled = "true" })
                        </div>
                        @Html.ValidationMessageFor(model => model.PRECIO_VENTA, string.Empty, new { @class = "cssMessageError animated  fadeInUp" })
                    </div>

                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.CANTIDAD) 
                        <div class="input-group  ">
                            @Html.TextBoxFor(model => model.CANTIDAD, new { @class = "form-control", @maxlength = "10", @autocomplete = "off" })
                            <div class="input-group-append  btn-hover-shine waves-effect waves-light">
                                <span class="input-group-text input-group-text_white" id="_Info_codigoUnidad">
                                    @if(Model.COD_UNIDAD_MEDIDA !=null){
                                        @Model.COD_UNIDAD_MEDIDA; 
                                    } else{
                                    <i class="bi bi-files" style="color: #404040;"></i>
                                    }
                                </span>
                            </div>
                        </div>
                        <span class="text-success">(stock:<span id="Label_Stock">@Model.STOCK</span>)</span>
                        @Html.ValidationMessageFor(model => model.CANTIDAD, string.Empty, new { @class = "cssMessageError animated  fadeInUp" })
                    </div>

                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.TOTAL)
                        <div class="input-group ">
                            <div class="input-group-prepend">
                                <span class="input-group-text input-group-text_white"><span class="simboloMoneda"></span></span>
                            </div>
                            @Html.TextBoxFor(model => model.TOTAL, new { @class = "form-control", @maxlength = "100", @aucomplete = "off", @disabled = "true" })
                        </div>
                        @Html.ValidationMessageFor(model => model.TOTAL, string.Empty, new { @class = "cssMessageError animated  fadeInUp" })
                    </div>


                    <div class="form-group col-md-12">
                        @Html.LabelFor(model => model.DETALLE)
                        @Html.TextAreaFor(model => model.DETALLE, new { @class = "form-control", @maxlength = "1000", @aucomplete = "off", @disabled = "true" })
                        @Html.ValidationMessageFor(model => model.DETALLE, string.Empty, new { @class = "cssMessageError animated  fadeInUp" })
                    </div>
                </div>

                <div id="Alert_Error" class="alert alert-danger alert-dismissible alert-alt fade show col-md-12" style="display: none;">
                    <strong><i class="bi bi-exclamation-circle"></i>&nbsp;</strong><span id="mensaje_Error"></span>
                </div>

                <div id="Alert_Warning " class="alert alert-warning alert-dismissible alert-alt fade show col-md-12" style="display: none;">
                    <strong><i class="bi bi-exclamation-triangle"></i>&nbsp;</strong><span id="mensaje_Alerta"></span>
                </div>    
            }
        </div>
        <div class="modal-footer">
            <button type="button" id="Sucursal_Btn_Guardar" class="btn btn-hover-shine btn-square btn-secondary"><i class="bi bi-basket"></i>&nbsp; Agregar Producto</button>
            <button type="button" class="btn  btn-square btn-dark" id="Btn_CerrarModal">Cancelar</button>
        </div>
    </div>
</div>
@Html.Hidden("hfd_ID_PRODUCTO", Model.ID_PRODUCTO)
@Html.Hidden("hfd_STOCK", Model.STOCK)
@Html.Hidden("Hdf_flg_Servicio", Model.FLG_SERVICIO)
@Html.Hidden("AccionBuscarProducto", Model.Accion)
@Html.Hidden("HDF_COD_UNIDAD_MEDIDA", Model.COD_UNIDAD_MEDIDA)
@Html.Hidden("hfd_TIPO_PROCESO", Model.TIPO_PROCESO)