@model App_Ventas.Areas.Inventario.Models.CategoriaModelView

<script>
    $(document).ready(function () {

    });
    $('#Categoria_btn_Guardar').click(function () {
        Categoria_Ingresar();
    });



</script>



@using (Html.BeginForm("Categoria", "Categoria", new { @area = "Inventario" }, FormMethod.Post, new { @id = "frmMantenimiento_Categoria", @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true)

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="bi bi-pencil-square"></i>&nbsp; Nueva Categoria</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-row">
                    <div class="form-group col-md-12">
                        @Html.LabelFor(model => model.DESC_CATEGORIA)
                        @Html.TextBoxFor(model => model.DESC_CATEGORIA, new { @class = "form-control", @maxlength = "200" })
                        @Html.ValidationMessageFor(model => model.DESC_CATEGORIA, string.Empty, new { @class = "cssMessageError animated  fadeInUp" })
                    </div>


                    <div class="form-group col-md-12">
                        @Html.LabelFor(model => model.DESCRIPCION)
                        @Html.TextAreaFor(model => model.DESCRIPCION, new { @class = "form-control", @maxlength = "1000" , @onkeyup = "CountCharactersControlTxt(this.id,'lbl_countcategoria', 1000)" })
                        @Html.ValidationMessageFor(model => model.DESCRIPCION, string.Empty, new { @class = "cssMessageError animated  fadeInUp" })
                         <label id="lbl_countcategoria" style="width: 100%" class="Formato" runat="server">Nº Caracteres: 0 restan 1000</label>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" id="Categoria_btn_Guardar" class="btn btn-hover-shine btn-square btn-primary"><i class="bi bi-save2"></i>Guardar</button>
                <button type="button" class="btn  btn-square btn-dark" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
}

@Html.Hidden("hfd_ID_CATEGORIA", Model.ID_CATEGORIA)
@Html.Hidden("AccionCategoria", Model.Accion)