@model App_Ventas.Areas.Compras.Models.ComprasModelView
<script src="@Url.Content("~/Scripts/Js/Compras/Compras.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Js/Ventas/Ventas_Detalle.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Js/Recursiva/Configuracion.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Js/Inventario/Producto_Recursos.js")" type="text/javascript"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $('#Compras_FechaRange').val('');
        Compras_ConfigurarGrilla();
        $('#ID_PROVEEDOR_SEARCH').select2();
        //Compras_CargarGrilla();
    });

    $('#Compras_FechaRange').daterangepicker({
        opens: 'right',
        locale: {
            format: "DD/MM/YYYY",
            applyLabel: "Aplicar",
            cancelLabel: "Cancelar",
        }
    });

    $("#Compras_btnBuscar").click(function (e) {
        Compras_ConfigurarGrilla();
    });

    $("#Compras_btnLimpiar").click(function (e) {
        Compras_Limpiar();
    });


    $("#Compras_btnNuevo").click(function (e) {
        Compras_MostrarNuevo();
    });


</script>

<div class="modal fade" id="myModalNuevo" tabindex="" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>



<div class="row ">
    <div class="col-xl-12 col-xxl-12 col-lg-12 col-md-12">
        <div class="card">
            <div class="card-body">
                <div id="accordion-one" class="accordion">
                    <div class="accordion__item" style="margin-bottom:0px;">
                        <div class="accordion__header collapsed" data-toggle="collapse" data-target="#default_collapseOne" aria-expanded="false" style="cursor: pointer;">
                            <span class="accordion__header--text"><i class="bi bi-search"></i>&nbsp; Busqueda avanzada</span>
                            <span class="accordion__header--indicator"></span>
                        </div>
                        <div id="default_collapseOne" class="accordion__body collapse" data-parent="#accordion-one" style="">
                            <div class="accordion__body--text">
                                <div class="basic-form">
                                    <div class="form-row mb-3">

                                        <div class="form-group col-md-3">
                                            <label>Fecha:</label>
                                            <div class="input-group mb-3">
                                                <input class="form-control input-daterange-datepicker" id="Compras_FechaRange" type="text" name="daterange" placeholder="dd/mm/yyyy" autocomplete="off">
                                                <div class="input-group-append">
                                                    <span class="input-group-text"><i class="bi bi-calendar3"></i></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <label>Proveedor:</label>
                                            @Html.DropDownListFor(model => model.ID_PROVEEDOR_SEARCH, Model.Lista_Proveedor, new { @class = "form-control", @maxlength = "150", @style = "width:100%" })
                                        </div>

                                        <div class="col-md-3">
                                            <label>Estado:</label>
                                            <select class="form-control" id="Compras_FLG_ANULADO">
                                                <option value="">-- Seleccione --</option>
                                                <option value="1">Realizado</option>
                                                <option value="0">Anulado</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-md-3">
                                            <button type="button" id="Compras_btnBuscar" class="btn btn-hover-shine  btn-square btn-primary "><i class="fa fa-search"></i>&nbsp Buscar</button>
                                            <button type="button" id="Compras_btnLimpiar" class="btn  btn-square btn-light"><i class="bi bi-arrow-clockwise"></i>&nbsp Limpiar</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>






            </div>
        </div>
    </div>
</div>



<div class="row ">
    <div class="col-xl-12 col-xxl-12 col-lg-12 col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="form-row">
                    <button type="button" id="Compras_btnNuevo" class="btn btn-rounded btn-primary btn-hover-shine" style="margin-bottom: 5px;">
                        <span class="btn-icon-left  text-primary "><i class="fa fa-plus color-primary"></i></span>Nueva Compra</button>
                </div>
            </div>
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label>Almacen:</label>
                        @Html.DropDownListFor(model => model.ID_SUCURSAL, Model.Lista_Sucursal, new { @class = "form-control", @maxlength = "150", @style = "width:100%" })
                    </div>
                </div>
                <div class="table-responsive">
                    <table id="Compras_Grilla" style="width: 100%" class="table"></table>
                    @*<div id="Compras_Barra"></div>*@
                </div>
            </div>
        </div>
    </div>
</div>

