@model App_Ventas.Areas.Compras.Models.ComprasModelView
<script src="@Url.Content("~/Scripts/Js/Compras/Compras.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Js/Ventas/Ventas_Detalle.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Js/Recursiva/Configuracion.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Js/Inventario/Producto_Recursos.js")" type="text/javascript"></script>
<script type="text/javascript">

    $(document).ready(function () {
        Compras_ConfigurarGrilla();
        $('#ID_PROVEEDOR_SEARCH').select2();
        //Compras_CargarGrilla();
    });

    $("#Compras_btnBuscar").click(function (e) {
        Compras_ConfigurarGrilla();
    });

    $("#Compras_btnLimpiar").click(function (e) {
        Compras_Limpiar();
    });


    $("#Compras_btnNuevo").click(function (e) {
        Compras_MostrarNuevo();
    });

    $('#Compras_FechaInicio, #Compras_FechaFin').datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: "dd/mm/yy",
        firstDay: 1,
        changeFirstDay: false,
        showAnim: 'slideDown'
    });


</script>

<div class="modal fade" id="myModalNuevo" tabindex="" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>



<div class="row ">
    <div class="col-xl-12 col-xxl-12 col-lg-12 col-md-12">
        <div class="card">
            <div class="card-header border-bottom-head">
                <h4 class="card-title">Criterios de Busqueda</h4>
            </div>
            <div class="card-body">

                <div class="basic-form">
                    <div class="form-row mb-3">
                           <div class=" col-md-3">
                            <label>Fecha Inicio:</label>
                            <div class="input-group mb-3">
                                <input type="text" id="Compras_FechaInicio" class="form-control" placeholder="dd/mm/yyyy", autocomplete="off" />
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="bi bi-calendar3"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class=" col-md-3">
                            <label>Fecha Fin:</label>
                            <div class="input-group mb-3">
                                <input type="text" id="Compras_FechaFin" class="form-control" placeholder="dd/mm/yyyy" data-toggle="tooltip" data-placement="bottom" title="Ingrese fecha fin" , autocomplete="off">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="bi bi-calendar3"></i></span>
                                </div>
                            </div>
                        </div>


                        <div class=" col-md-3">
                            <label>Código Comprobante:</label>
                            <input type="text" class="form-control" id="Compras_CodigoComprobante" placeholder="Ejm: F55402">
                        </div>

                        <div class="col-md-3">
                            <label>Proveedor:</label>
                          @Html.DropDownListFor(model => model.ID_PROVEEDOR_SEARCH, Model.Lista_Proveedor, new { @class = "form-control", @maxlength = "150", @style = "width:100%" })
                        </div>

                        <div class="col-md-3">
                            <label>Estado:</label>
                            <select class="form-control" id="Compras_FLG_ANULADO">
                                <option value="">-- Seleccione --</option>
                                <option value="1">Realizado</option>
                                <option value="0">Anulado</option>
                            </select>
                        </div>            
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <button type="button" id="Compras_btnBuscar" class="btn btn-hover-shine  btn-square btn-primary "><i class="fa fa-search"></i>&nbsp Buscar</button>
                            <button type="button" id="Compras_btnLimpiar" class="btn  btn-square btn-light"><i class="bi bi-arrow-clockwise"></i>&nbsp Limpiar</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



<div class="row ">
    <div class="col-xl-12 col-xxl-12 col-lg-12 col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="form-row">
                    <button type="button" id="Compras_btnNuevo" class="btn btn-rounded btn-primary btn-hover-shine" style="margin-bottom: 5px;">
                        <span class="btn-icon-left  text-primary "><i class="fa fa-plus color-primary"></i></span>Nueva Compra</button>
                </div>
            </div>
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label>Almacen:</label>
                        @Html.DropDownListFor(model => model.ID_SUCURSAL, Model.Lista_Sucursal, new { @class = "form-control", @maxlength = "150", @style = "width:100%" })
                    </div>
                </div>
                <div class="jqGrid">
                    <table id="Compras_Grilla"></table>
                    <div id="Compras_Barra"></div>
                </div>
            </div>
        </div>
    </div>
</div>

