@model App_Ventas.Areas.Administracion.Models.SucursalModelView

<script>
    $(document).ready(function () {
        $('#COD_UBIGEO').select2();
    });

    $('#Sucursal_Btn_Guardar').click(function () {
        Sucursal_Ingresar(); 
    }); 

</script>



@using (Html.BeginForm("Cargo", "Cargo", new { @area = "Administracion" }, FormMethod.Post, new { @id = "frmMantenimiento_Sucursal", @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true)

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                @if(Model.ID_SUCURSAL ==0){
                <h4 class="modal-title"><i class="bi bi-pencil-square"></i>&nbsp; Nueva Sucursal</h4>
                }else{
                 <h4 class="modal-title"><i class="bi bi-pencil-square"></i>&nbsp; Actualizar Sucursal</h4>
                }
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-row">
                    <div class="form-group col-md-12">
                        @Html.LabelFor(model => model.DESC_SUCURSAL)
                        @Html.TextBoxFor(model => model.DESC_SUCURSAL, new { @class = "form-control", @maxlength = "200",@aucomplete="off" })
                        @Html.ValidationMessageFor(model => model.DESC_SUCURSAL, string.Empty, new { @class = "cssMessageError animated  fadeInUp" })
                    </div>


                    <div class="form-group col-md-12">
                        @Html.LabelFor(model => model.DIRECCION)
                        @Html.TextBoxFor(model => model.DIRECCION, new { @class = "form-control", @maxlength = "200" ,@aucomplete="off"  })
                        @Html.ValidationMessageFor(model => model.DIRECCION, string.Empty, new { @class = "cssMessageError animated  fadeInUp" })
                    </div>
                    <div class="form-group col-md-12">
                        @Html.LabelFor(model => model.TELEFONO)
                        @Html.TextBoxFor(model => model.TELEFONO, new { @class = "form-control", @maxlength = "7" ,@aucomplete="off"  })
                        @Html.ValidationMessageFor(model => model.TELEFONO, string.Empty, new { @class = "cssMessageError animated  fadeInUp" })
                    </div>

                    <div class="form-group col-md-12">
                        @Html.LabelFor(model => model.CORREO)
                        @Html.TextBoxFor(model => model.CORREO, new { @class = "form-control", @maxlength = "100" ,@aucomplete="off"  })
                        @Html.ValidationMessageFor(model => model.CORREO, string.Empty, new { @class = "cssMessageError animated  fadeInUp" })
                    </div>

                    <div class="form-group col-md-12">
                        @Html.LabelFor(model => model.URBANIZACION)
                        @Html.TextBoxFor(model => model.URBANIZACION, new { @class = "form-control", @maxlength = "100" ,@aucomplete="off"  })
                        @Html.ValidationMessageFor(model => model.URBANIZACION, string.Empty, new { @class = "cssMessageError animated  fadeInUp" })
                    </div>

                    <div class="form-group col-md-12">
                        @Html.LabelFor(model => model.COD_UBIGEO)
                        @Html.DropDownListFor(model => model.COD_UBIGEO, Model.Lista_Ubigeo, new { @class = "form-control", @maxlength = "150", @style = "width:100%" })
                        @Html.ValidationMessageFor(model => model.COD_UBIGEO, string.Empty, new { @class = "cssMessageError animated  fadeInUp" })
                    </div>


                </div>


            </div>
            <div class="modal-footer">
                <button type="button" id="Sucursal_Btn_Guardar" class="btn btn-hover-shine btn-square btn-primary"><i class="bi bi-save2"></i>Guardar</button>
                <button type="button" class="btn  btn-square btn-dark" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
}

@Html.Hidden("hfd_ID_SUCURSAL", Model.ID_SUCURSAL)
@Html.Hidden("AccionSucursal", Model.Accion)